{% extends 'base.html' %}

{% block content %}

<h1>Edit Cupcake</h1>

<div class="container-fluid">
    <form id="add-cupcake" method="POST">
        {{ form.hidden_tag() }}

        { % for field in form 
            if field.widget.input_type != 'hidden' %}

        <p>
            {{ field.label }}
            {{ field }}
        </p>

        {% for error in field.errors %}
        {{error}}
        {% endfor %}

        <button type="submit">Submit</button>
    </form>
</div>

{% endblock %}