{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row" id="css-row">
        {% for cupcake in cupcakes %}
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ cupcake.image }}" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">{{ cupcake.flavor }}</h5>
                <p class="card-text">Size: {{ cupcake.size }}</p>
                <p class="card-text">Rating: {{ cupcake.rating }}</p>
                <a href="/api/cupcakes/{{ cupcake.id }}" class="btn btn-primary">View</a>
                </div>
            </div>
        {% endfor %}
    </div>  
</div>
{% endblock %}